
<footer>
    <div class="container">

        <div class="footer-block">
            <h2>Entre em contato</h2>
            <p>Verifique a disponibilidade de horarios e solicite orçamento</p>
        </div><!--footer-block-->

        <div class="footer-block">
            <h2>Telefone</h2>
            <p>(xx) xxxx-xxxx<br/>(xx) xxxx-xxxx </p>
        </div><!--footer-block-->

        <div class="footer-block">
            <h2>Horários</h2>
            <p>Das 8:00 ás 20:00 </p>
        </div><!--footer-block-->

        <div class="clear"></div>
    </div>
</footer>

<footer class="final">
    <div class="infor">
        <p>Todos os direitos reservados <br/>tanizia23@gmail.com</p>
    </div><!--inform-->
</footer>
</html>