<!DOCTYPE html>
<html>
<head>
	<title>Dhy Rodrigues</title>
	<meta charset="utf-8">
	<meta name="description" content="site de fotografia">
	<meta name="keywords" content="fotografia, fotográfa, newborn, casal, casamento, fotografando, crianças">
	<meta name="author" content="Tanizia Fagundes">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@1,200;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
</head>