<header>
    <div class="container">
        <div class="logo">
            <img src="/img/dhylogo.png" />
        </div><!--logo-->

        <nav class="menu-desktop">
            <ul>
                <li><a href="">quem sou</a></li>
                <li><a href="">Portifólio</a></li>
                <li><a href="">sobre</a></li>
                <li><a href="">contatos</a></li>
            </ul>
        </nav>

        <nav class="menu-mobile">
            <ul>
                <li><a href="">quem sou</a></li>
                <li><a href="">Portifólio</a></li>
                <li><a href="">sobre</a></li>
                <li><a href="">contatos</a></li>
            </ul>
        </nav>
        <div class="clear"></div><!--clear-->
    </div><!--container-->
    
</header>